html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.icon-formating {
    width: 128px;
    border: solid 1px #F0F0F0;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(2, 68, 22, 0.03);
}
.icon-formating:hover {
    box-shadow: 4px 4px 8px 0 rgba(2, 68, 22, 0.1);
}
